
<div class="chat-container">

    <div class="chat-header">
        <p>Chat On</p>
    </div>

    <div class="chats">
        <p class=" message question ">Hi, this is satyam Kumar </p>
        <p class=" message answer"> I am good, How you doing?</p>

        <p class="message question">Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the </p>
        <p class="message answer">It is a long established fact that a reader will be distracted by the readable</p>

        <p class="message question">There are many variations of passages of Lorem Ipsum </p>
        <p class="message answer">need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>


        <p class="question">Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the </p>
        <p class="answer">It is a long established fact that a reader will be distracted by the readable</p>

        <p class="question">There are many variations of passages of Lorem Ipsum </p>
        <p class="answer">need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>  
        
        
        <p class="question">Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the </p>
        <p class="answer">It is a long established fact that a reader will be distracted by the readable</p>

        <p class="question">There are many variations of passages of Lorem Ipsum </p>
        <p class="answer">need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>


        <p class="question">Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the </p>
        <p class="answer">It is a long established fact that a reader will be distracted by the readable</p>
    </div>

    
    <div class="submit-form">
        <form  class="example-form">
            <mat-form-field class="example-full-width messgae-box">
              <input matInput placeholder="Type your message">
            </mat-form-field>
           
            <button mat-raised-button>submit</button>
          
        </form>
    </div>
       
  
</div>